

<nav class="navbar navbar-expand-md bg-dark text-white justify-content-left">
   <a class="navbar-brand mr-0 mr-md-2" routerLink="/Home" >
    <img src="https://image.freepik.com/free-vector/flat-design-fitness-logo-template_23-2148203461.jpg" alt="logo">
   <b>   FITNESSFREAKS</b>
    </a>

<div class="navbar-nav" >
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
<li class="nav-item active">
    <a   routerLink="/Home" text-al>Home</a>
</li>
<span></span>
<li class="nav-item">
    <a  routerLink="/Place Appointment">Place Appointment</a>
</li>

<li class="nav-item">
    <a  routerLink="/View Appointment">View Appointment</a>
</li>

<li class="nav-item">
    <a   routerLink="/Contact Us">Contact Us</a>
</li>
</ul>

</div>
</nav>
