<!DOCTYPE html>
<html>
<head></head>
  <body background="https://images.pexels.com/photos/949132/pexels-photo-949132.jpeg?auto%3Dcompress%26cs%3Dtinysrgb%26dpr%3D3%26h%3D750%26w%3D1260">
 
    <div class="container p-3 my-3 ">
      <div id="demo" class="carousel slide" data-ride="carousel">
     
       <!-- Indicators -->
       <ul class="carousel-indicators">
         <li data-target="#demo" data-slide-to="0" class="active"></li>
         <li data-target="#demo" data-slide-to="1"></li>
         <li data-target="#demo" data-slide-to="2"></li>
       </ul>
     
       <!-- The slideshow -->
       <div class="carousel-inner bg-dark">
         <div class="carousel-item active">
           <img src="https://images.pexels.com/photos/949132/pexels-photo-949132.jpeg?auto%3Dcompress%26cs%3Dtinysrgb%26dpr%3D3%26h%3D750%26w%3D1260" alt="Los Angeles">
         </div>
         <div class="carousel-item">
           <img src="https://images.pexels.com/photos/841131/pexels-photo-841131.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Chicago">
         </div>
         <div class="carousel-item">
           <img src="https://images.pexels.com/photos/116079/pexels-photo-116079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="New York">
         </div>
       </div>
     
       <!-- Left and right controls -->
       <a class="carousel-control-prev" href="#demo" data-slide="prev">
         <span class="carousel-control-prev-icon bg-dark"></span>
       </a>
       <a class="carousel-control-next" href="#demo" data-slide="next">
         <span class="carousel-control-next-icon bg-dark"></span>
       </a>
     
     </div>
     </div>
    <div class="text-center">
       
            <h2 style="color:rgb(153, 0, 255)">WELCOME TO FITNESS</h2>
              <p  style="color: crimson;"><b>This website will help every individual to stay physically as well as mentally fit </b></p> 
    
    
  

<button  class="button" type="button"><a routerLink="/Place Appointment">Place Appointment</a></button>
   
    
</div>
</body>
</html>

